<!--{% extends 'flatpages/default.html' %}-->


<!--{%block title%}-->
<!--Products-->
<!--{%endblock title%}-->

<!--{%block content%}-->
<!--<p>Продукты на месте</p>-->
<!--<p>Все товары</p>-->
<!--{%endblock content%}-->

<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет products -->
{% block title %}
products
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все товары</h1>
{{ products }}
{% endblock content %}