{% extends 'flatpages/default.html' %}

{% load custom_filters %}
<!-- Название у нас будет products -->
{% block title %}
Products
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    <h1>Все товары</h1>
    <h4>{{time_now | date:'M d Y'}}</h4>
    <hr>
<!-- Если в переменной next_sale будет None,
   то выведется указанный в фильтре текст -->
   <h3> {{ next_sale|default_if_none:"Чуть позже сообщим о распродаже!" }} </h3>
    {% if products %}
        <table border=2 bgcolor=#FAEBD7>
          <tr>
            <td>Название</td>
            <td>Описание</td>
            <td>Категория</td>
            <td>Цена</td>
            <td>Количество</td>
          </tr>
            {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.description | truncatechars:10}}</td>
                <td>{{product.category}}</td>
                <td>{{product.price| currency:'usd' }}</td>
                <td>{{product.quantity}}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h1>Товаров нет</h1>
    {% endif %}

   {# Информация о предыдущих страницах #}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
<!--            <a href="?page=1">&laquo; ПЕРВАЯ</a>-->
            <a href="?page={{ page_obj.previous_page_number }}">ПРЕДЫДУЩАЯ</a>
        {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}


{% endblock content %}